*{
    margin: 0;
    padding: 0;
}
.maindiv a{
    color: #b7b7b7;
    font-size: 248%;
    letter-spacing: 0.19cm;
    padding-left: 39.5%;
    font-family: "playfair display";
    cursor: pointer;
    transition: 1s;
}
.maindiv{
    padding-top: 2.5%;
}
.no1{
    color: #b7b7b7;
    font-family: sans-serif;
    font-size: 72%;
    letter-spacing: 5px;
    padding-left: 34.5%;
}
.bar a{
    font-size: 83%;
    color: white;
    padding-left: 3.9%;
    font-family: sans-serif;
    cursor: pointer;
    transition: 1s;
}
.bar{
    margin-left: 23%;
    padding-top: 1.5%;
}
.topic{
    color: antiquewhite;
    font-family: "playfair display";
    letter-spacing: -0.009cm;
    font-size: 228%;
}
.topic div{
    padding-left: 45.5%;
    padding-top: 6.5%;
}
.img2{
    padding-left: 3%;
}
.img{
    padding-left: 9%;
    padding-top: 3%;

}
.bar a:hover{
    color: rgb(214, 71, 71);
}
.maindiv a:hover{
    color: rgb(214, 71, 71);
}
.your{
    color: rgb(228, 226, 222);
    font-family: "playfair display";
    font-size: 155%;
    text-align: center;
    padding-top: 1%;
}
.para{
    font-family: sans-serif;
    font-size: 110%;
    color: #7a7a7a;
    width: 83%;
    height: 63px;
    padding-left: 8%;
    padding-top: 3%;
    line-height: 170%;
}
.para a{
    color: #db4f3d;
    cursor: pointer;
}
.para a:hover{
    color: #7a7a7a;
    text-decoration: none;
}
.kopikoimg{
    padding-left: 16.3%;
    padding-top: 4%;
}
.kopikoimg2{
    padding-left: 1%;
}
.kopikoimg3{
    padding-left: 3%;
    position: absolute;
    padding-top: 4%;
}
.para1{
    font-family: sans-serif;
    font-size: 110%;
    color: #7a7a7a;
    width: 83%;
    height: 63px;
    padding-left: 8%;
    line-height: 170%;
}
.para2{
    font-family: sans-serif;
    font-size: 110%;
    color: #7a7a7a;
    width: 83%;
    height: 63px;
    padding-left: 8%;
    line-height: 170%;
    padding-top: 9%;
}
.foot{
    color: #999999;
    font-family: sans-serif;
    font-size: 84%;
    text-align: center;
    padding-top: 15%;
}
.foot a{
    color: #fff;
    cursor: pointer;
    transition: 1s;
}
.foot a:hover{
    color: #db4f3d;
}
.footer{
    height: 43px;
}
